@import url(./theme/dark/dark.scss);
@import url(./theme/light/light.scss);
@import url(./variables/global.scss);
@import url(./reset.scss);

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  //   max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
